h1 {
  color: rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

body {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.4)
  font-family: sans-serif;
  text-align: center;
}
#convertedtemp {
  width: 70%;
  height: 5em;
  background-color: red;
  margin:auto;
}

#container {
  text-align: center;
  margin-top: 30px;

}

#buttons {

}
